.footer {
  margin: 0;
  padding: 26px 0px 22px 0px;
  background-color: #F2F2F2;

  &--index {
    background-image: linear-gradient(to bottom, #ffffff 50%, #F2F2F2 50%);
  }

  @media (min-width: $tablet-width) {
    padding: 60px 0px 0px 0px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.footer__contacts-map {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
  padding: 0px 0px 26px 0px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 82%;
    padding: 0px 0px 60px 0px;
  }

  @media (min-width: $desktop-width) {
    position:absolute;
    top: 92px;
    left: 108px;
    z-index: 1;
    width: 565px;
    height: 198px;
    align-items: center;
    padding: 0px 80px 0px 80px;
    background-color: #ffffff;
  }
}

.footer__contacts-title {
  margin: 0;
  padding: 0;
  width: 139px;
  font-family: $base-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }
}

.footer__contacts-text {
  margin: 0;
  width: 139px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: end;
    width: 159px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.footer__map {
  width: 100%;
  height: 362px;
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  margin: 0 auto;
  padding: 39px 0px 0px 0px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    padding: 57px 0px 55px 0px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
  }
}

.footer__logo {
  display: block;
  box-sizing: border-box;
  margin: 0px 0px 29px 0px;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.footer__logo-text {
  @media (min-width: $tablet-width) {
    width: 128px;
    height: 24px;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 23px 0px 18px 0px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: space-between;
    width: 123px;
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {

  }
}

.social__link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.vk_icon {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 23px;
  }
}

.instagram_icon {
  padding: 0;
  margin: 0px 39px 0px 37px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
    padding: 0;
    margin: 0;
  }
}

.facebook_icon {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 30px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 22px 0px 0px 0px;
  width: 100%;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 163px;
  }
}

.footer__copyright-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
