.form {
  margin: 0;
  padding: 27px 0px 32px 0px;

  @media (min-width: $tablet-width) {
    padding: 65px 0px 72px 0px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0px 85px 0px;
  }
}

.form-title {
  width: 88%;
  margin: 0 auto;
  font-family: $base-font;
  font-weight: 400;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0px 0px 0px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    margin: 0 auto;
  }
}

.form__heading {
  margin: 0px 0px 37px 0px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form__preview {
  margin: 0px 0px 39px 0px;
  width: 81%;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 27%;
  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  margin: 0;
  font-family: $base-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 80px;
  }
}

.form__cat-data {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 0px 24px 0px;
  border: none;
  border-bottom: 1px solid #E7E7E7;


  & label {
    margin: 0;
    font-family: $base-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    width: 84%;
    padding: 0;
  }
}

.form__list {
  width: 86%;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0px 0px 0px 70px;
    width: 82%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
  }
}

.form__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;
  box-sizing: border-box;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__cat-name, .form__cat-weight, .form__cat-age {
  margin: 0px 0px 0px 12px;
  padding: 0px 0px 0px 15px;
  min-height: 45px;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
  font-family: $base-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }
}

.form__cat-name {

  @media (min-width: $tablet-width) {
    margin-left: 16px;
  }
}

.form__cat-weight {

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.form__cat-age {
  margin-bottom: 0px;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
}

.form__check-program {
  box-sizing: border-box;
  margin: 0;
  padding: 22px 0px 6px 0px;
  border: none;
  border-bottom: 1px solid #E7E7E7;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
    padding: 25px 0px 12px 30px;
    width: 82%;
    border: 1px solid #E7E7E7;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 84%;
    margin: 0;
    padding-left: 26px;
  }
}

.form__check-program__wrapper {
  width: 88%;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__checked-program {
  display: none;
}

.form__checked-program + label {
  display: inline-block;
  height: 30px;
  background: url("../img/form/radiobutton.svg") top left no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
  margin-bottom: 6px;
  padding-left: 46px;
  padding-top: 6px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
    padding-top: 6px;
    height: 40px;
    background-size: 40px 40px;
  }
}

.form__checked-program:checked + label {
  background: url("../img/form/radio_checked.svg") top left no-repeat;
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    background-size: 40px 40px;
  }
}

.form__contacts {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 113px 0px 24px 0px;
  border: none;
  font-family: $base-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 44px;
    right: 0;
    z-index: -1;
    width: 90%;
    height: 2px;
    background-color: $basic-green;
    background-size: cover;

    @media (min-width: $tablet-width) {
      top: 99px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      top: 92px;
    }
  }

  & legend {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 63%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      top: 76px;
      left: 30px;
      width: 593px;
      font-size: 36px;
      line-height: 1;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      top: 70px;
      left: 68px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 187px 0px 48px 0px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    grid-row: 2 / 3;
    padding: 181px 0px 67px 0px;
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0;
    margin: 0 auto;
    width: 85%;

    & .form__item {
      margin: 0;
      padding: 0;
    }
  }
}

.form__list--contacts .form__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.label__email {
  padding-right: 11px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}

.label__phone {
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    padding-right: 16px;
  }
}

.form__email, .form__phone {
  box-sizing: border-box;
  min-height: 45px;
  padding: 0px 0px 0px 15px;
  border: 1px solid #CDCDCD;
  font-family: $base-font;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    min-height: 54px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__email {
  background: url("../img/form/letter_icon.svg") no-repeat;
  background-position: top 15px right 15px;

  @media (min-width: $desktop-width) {
    background-position: top 18px right 18px;
  }
}

.form__phone {
  background: url("../img/form/phone_icon.svg") no-repeat;
  background-position: top 13px right 13px;

  @media (min-width: $desktop-width) {
    background-position: top 15px right 19px;
  }
}

.form__text-area {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 64px 0px 29px 0px;
  width: 100%;
  box-sizing: border-box;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    z-index: -1;
    width: 90%;
    height: 2px;
    background-color: $basic-green;
    background-size: cover;

    @media (min-width: $tablet-width) {
      top: 20px;
      z-index: -1;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      top: 3px;
    }
  }

  & textarea {
    width: 100%;
    min-height: 150px;
    margin: 0;
    padding: 9px 0px 0px 13px;
    box-sizing: border-box;
    font-family: $base-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;

    @media (min-width: $tablet-width) {
      padding-left: 18px;
      min-height: 174px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  & legend {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    width: 143px;
    font-size: 24px;
    line-height: 26px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      left: 30px;
      width: 259px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      top: -20px;
      left: 66px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 110px 0px 65px 0px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    grid-row: 3 / 4;
    padding: 92px 0px 67px 0px;
  }
}

.form__textarea-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 86%;

  @media (min-width: $tablet-width) {
    margin: 0px 0px 0px 70px;
    width: 82%;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    margin: 0 auto;
  }
}

.form__addition {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 55px 0px 21px 0px;
  border: none;
  font-family: $base-font;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;
    width: 90%;
    height: 2px;
    background-color: $basic-green;
    background-size: cover;

    @media (min-width: $tablet-width) {
      top: 22px;
      width: 100%;
    }
  }

  & legend {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    width: 164px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      left: 30px;
      width: 292px;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      left: 67px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 92px 0px 25px 0px;
    font-size: 20px;
    line-height: 30px;
  }


  @media (min-width: $desktop-width) {
    grid-column: span 2;
    grid-row: 4 / 5;
    padding: 92px 0px 29px 0px;
  }
}

.form__addition-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 88%;
  list-style: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px 0px 70px;
    width: 100%;

    & li {
      width: 221px;
      margin-right: 123px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 108px;

    & li {
      margin-right: 104px;
    }
  }
}

.form__addition-item {
  display: none;
}

.form__addition-item + label {
  display: inline-block;
  height: 30px;
  background: url("../img/form/checkbox.svg") top left no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
  margin-bottom: 6px;
  padding-left: 46px;
  padding-top: 6px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    height: 40px;
    background-size: 40px 40px;
    padding-left: 60px;
    margin-bottom: 25px;
  }
}

.form__addition-item:checked + label {
  background: url("../img/form/checkbox_active.svg") top left no-repeat;
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    background-size: 40px 40px;
  }
}

.form__button-inner {
  margin: 0 auto;
  padding: 0;
  width: 86%;
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0px 0px 0px 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    grid-row: 5 / -1;
    padding-top: 4px;
    width: 85%;
    margin: 0 auto;
    column-gap: 80px;
  }
}

.form__button {
  background-color: $basic_green;
  font-family: $base-font;
  margin: 0px 0px 21px 0px;
  padding: 11px 0px 11px 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 0px 14px 0px;
    font-size: 20px;
  }
}

.form__sub-text {
  margin: 0 auto;
  width: 157px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: auto;
    align-self: center;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}
