.header__logo {
  text-decoration: none;
}

.nav__list-item {
  list-style-type: none;
}

.nav__list-item a {
  text-decoration: none;
  font-family: $base-font;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 1em;
  }
